@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

#banner {
  background-color: #15387a;
}

td {
  color: white;
}

/* Graph position styles */
#bargraph, #line, #negative {
  position: relative;
  padding-left: 30px;
}
#negative {
  padding-right: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Dark theme variables */
@layer base {
  .dark {
    --background: #1e1e1e;
    --foreground: #e0e0e0;
  }
}
